---
import type { CollectionEntry } from 'astro:content'
import { PostCardHoverOverlay } from './PostCardHoverOverlay'
import PostMetaInfo from './PostMetaInfo.astro'
import { render } from 'astro:content'
import { slugify } from '@/utils/content'

interface Props {
  entry: CollectionEntry<'posts'>
}

const { entry } = Astro.props

const { remarkPluginFrontmatter } = await render(entry)
---

<a
  class="block relative py-2 focus-visible:outline-0 transition-transform duration-200 ease-in-out hover:scale-[1.02]"
  href={`/posts/${entry.id}`}
>
  <PostCardHoverOverlay client:only="react" />
  <h2 class="relative text-xl font-bold">
    {entry.data.title}
    {
      entry.data.sticky > 0 && (
        <i class="absolute right-0 top-0 z-10 size-6 leading-none iconfont icon-pushpin text-red-500" />
      )
    }
  </h2>
  <!-- <div class="mt-2 overflow-hidden"> -->
  <!--   { -->
  <!--     entry.data.cover && ( -->
  <!--       <img -->
  <!--         class="float-right ml-3 mb-2 size-[80px] rounded-md object-cover select-none" -->
  <!--         src={entry.data.cover} -->
  <!--         alt={entry.data.title} -->
  <!--         loading="lazy" -->
  <!--       /> -->
  <!--     ) -->
  <!--   } -->
  <!-- </div> -->
  <div class="flex flex-wrap items-center justify-between gap-1 select-none">
    <PostMetaInfo
      class="grow"
      date={entry.data.date}
      lastMod={entry.data.lastMod}
      words={remarkPluginFrontmatter.words}
      readingMinutes={remarkPluginFrontmatter.readingMinutes}
    />
    <div class="group shrink-0 text-accent flex items-center ">
      {
        entry.data.category && (
          <div class="flex items-center">
            <i class="iconfont icon-folder mr-1" />
            <a
              class="hover:text-accent hover:underline underline-offset-2 decoration-dashed"
              href={`/categories/${slugify(entry.data.category)}`}
            >
              {entry.data.category}
            </a>
          </div>
        )
      }
      {
        entry.data.tags.length > 0 && (
          <div class="flex items-center ml-2">
            <i class="iconfont icon-hashtag" />
            {entry.data.tags.map((tag, index) => (
              <>
                {index > 0 && <span class="mr-1">, </span>}
                <a
                  class="hover:text-accent hover:underline underline-offset-2 decoration-dashed"
                  href={`/tags/${slugify(tag)}`}
                >
                  {tag}
                </a>
              </>
            ))}
          </div>
        )
      }
    </div>
  </div>
</a>
